@keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 0;
    }
}

#arrow {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump 2s infinite;
    -webkit-animation: jump 2s infinite;
    -webkit-animation-name: jump;
    animation-name: jump;
}

@media only screen and (max-width: 768px) {
    .unsustainableProduct h2 {
        font-size: 8vw;
        margin-top: 70px;
    }
    .unsustainableProduct {
        height: 100vh;
        background: rgb(12, 58, 47);
        background: linear-gradient( rgb(135, 204, 209) 52%, rgba(255, 255, 255, 1) 100%);
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    .unsustainableProduct h2 {
        font-size: 2.5em;
        margin-left: 100px;
    }
    .unsustainableProduct {
        min-height: 95vh;
        background: rgb(12, 58, 47);
        background: linear-gradient( rgb(135, 204, 209) 52%, rgba(255, 255, 255, 1) 87%);
        color: white;
    }
}

.unsustainableProduct {
    color: white;
}

h2 {
    color: #0c3a2f;
}

.unsustainableProduct .subtitle {
    font-weight: bold;
}

.unsustainableProduct .decayingTime {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(230, 2, 2);
}

.alternative .altDescription {
    color: #929292;
}

.alternative h2 {
    color: #4e4e4e;
}

.fa-chevron-down {
    font-size: 1.3em;
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
}

app-nav {
    color: white;
}