<app-nav></app-nav>


<div class="row productPage justify-content-center align-items-center m-0 p-0" *ngFor="let product of products">

    <div class="col-12 unsustainableProduct d-flex flex-column align-items-center justify-content-center ">
        <div class="d-block flex-column d-md-flex flex-md-row align-items-center justify-content-center mt-5 ml-0 mr-0 pl-0 pr-0 ">
            <div class="col-12 col-md-3 text-center text-md-left">
                <h2>{{product.name}}</h2>
            </div>
            <div class="col-12 col-md-5 d-block m-0 p-0">
                <canvas class="m-0 p-0" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
            <div class="col-10 col-md-4 d-flex flex-column  justify-content-md-center">
                <p class="subtitle">Description</p>
                <p>{{product.description}}</p>
                <div class="d-flex">
                    <p><i class="far fa-clock"></i> utilisation : {{product.usingTime}} minute</p>
                    <p class="ml-2"><i class="far fa-clock"></i> décomposition : {{product.decayingTime}} ans</p>
                </div>
            </div>
        </div>

        <div class="text-center altScroll mt-md-3 pt-md-3">
            <p>les alternatives</p>
            <div class="col-12 text-center mb-5 mb-md-0" id="arrow">
                <i class="fas fa-chevron-down p-3"></i>
            </div>

        </div>
    </div>

    <div id="carouselExampleFade" class="col-12 carousel slide carousel-fade p-0 m-0" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner" *ngFor="let alternative of product.alternatives">
            <div id="alternatives" class="carousel-item active col-12 alternative d-md-flex justify-content-center mt-md-2 mb-md-5">
                <img class="col-12 col-md-4 d-block lazyload" data-src="{{alternative.altImgPath}}?auto=yes&bg=777&fg=555&text=First slide" alt="product_alternative">
                <div class="col-12 col-md-4 altDescription d-flex flex-column justify-content-md-center">
                    <h2>{{alternative.name}}</h2>
                    <p class="mt-2">{{alternative.description}}</p>
                    <div class="d-flex justify-content-between">
                        <p><i class="far fa-clock"></i> utilisation : {{alternative.usingTime}}</p>
                        <p><i class="far fa-clock"></i> décomposition : {{alternative.decayingTime}}</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block lazyload" data-src="assets/pictures/carousel_accueil_2.jpg?auto=yes&bg=666&fg=444&text=Second slide" alt="Paysage immobilier">
            </div>
            <div class="carousel-item">
                <img class="d-block lazyload" data-src="assets/pictures/carousel_accueil_3.jpeg?auto=yes&bg=666&fg=444&text=Third slide" alt="Locataire">
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>