<footer>
    
    <div class="row justify-content-center align-items-center beforefooter p-0 m-0">
        <div class="col-12 underline mt-4">
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="col-12 footer d-flex text-left pt-5">
            <div class="col-6">
                <ul class="bottommenu">
                    <li class="bottom-nav">
                        <h6>SITEMAP</h6>
                    </li>
                    <li class="bottom-nav">
                        <a href="">HOME</a>
                    </li>
                    <li class="bottom-nav">
                        <a href="">À PROPOS</a>
                    </li>
                    <li class="bottom-nav mt-3">
                </ul>
            </div>
            <div class="col-6">
                    <h6>Suivez nous</h6>
                    <div class="bottommenu d-flex">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter ml-3"></i>
                        <i class="fab fa-facebook ml-3"></i>
                </div>

            </div>
        </div>
    </div>
</footer>