.underline {
    border: 0.1px solid #7a7a7a;
    opacity: 0.2;
    
}

.footer {
    font-size: 0.8em;
    color: rgb(161, 158, 168);
    font-family: 'Vollkorn', serif;
    
}
ul li{
    list-style-type: none;
}
.footer a {
    color: rgb(161, 158, 168);
}

.footer a:hover {
    color: #00004e;
}
i{
    font-size: 1.3em;
}
h6{
    color: rgb(114, 113, 116);
}