@media only screen and (max-width: 768px) {
    .signin {
        top: -400px;
    }
    .authBloc {
        height: 100vh;
    }
}

.imgBanner {
    background-image: url("/assets/images/replace_auth.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}


/* /Bloc d'authentification/ */

h2 {
    font-family: 'Prata display', sans-serif;
    color: rgb(255, 238, 253);
}

.authBloc {
    background-color: #0c3a2f;
    box-shadow: -5px 0 5px -5px rgba(39, 39, 39, 0.678);
}

.blocLogin {
    z-index: 5;
}

.signin {
    z-index: 5;
}

.line1 {
    border-bottom: 1px solid white;
    transform: translateY(-20px) translateX(5px) rotate(-35deg);
    position: relative;
}

input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid rgb(109, 109, 109);
    color: rgb(109, 109, 109);
}

input:hover {
    border-color: transparent;
    border-bottom: 1px solid white;
}

button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
}

button:hover {
    transition: background-color .25s ease-out, color .25s ease-out;
    background-color: #fff;
    color: #0c3a2f;
}

.skip a {
    text-decoration: underline;
    color: #a5a5a5;
}

.error {
    color: rgb(194, 41, 41);
}