<head>
    <title>Connectez-vous</title>
</head>

<body>

    <div class="row p-0 m-0">
        <div class="col-12 d-flex p-0 m-0">
            <div class="col-lg-4 imgBanner p-0 m-0">
            </div>
            <div class="col-12 col-lg-8 d-flex flex-column flex-md-row authBloc p-0 m-0 d-flex">
                <div class="col-12 col-md-6">
                    <div class=" col-12 col-md-10 mt-5 ml-md-5">
                        <h2 class="login col-lg-12">Accédez <br>à votre compte</h2>
                        <form class="blocLogin col-lg-10 d-flex flex-column" (ngSubmit)="login()">
                            <input [(ngModel)]="email" type="email" name="email_login" id="email_login" placeholder="votre adresse mail">
                            <input [(ngModel)]="password" type="password" name="password_login" class="mt-2" id="password_login" placeholder="mot de passe">
                            <button class=" pt-2 pb-2 pl-3 pr-3 mt-3 ">Login</button>
                        </form>
                    </div>
                </div>
                <div class="line1 justify-content-center align-items-center d-none d-md-flex"></div>

                <div class="col-12 col-md-6 d-md-flex align-items-md-end justify-content-sm-center justify-content-md-end signin">
                    <div class="col-12 col-md-10 mr-md-5 mr-lg-3">
                        <h2 class="register col-lg-10 text-right">Créez <br> votre compte</h2>
                        <form class="blocRegister col-lg-10 d-flex flex-column" (ngSubmit)="register()">
                            <input [(ngModel)]="user.email" type="email" name="email" id="email" placeholder="votre adresse mail" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
                            <input [(ngModel)]="user.password" type="password" name="password" class="mt-2" id="password" placeholder="mot de passe">
                            <input [(ngModel)]="repeat" type="password" name="repeat" class="mt-2" id="repeat" placeholder="Confirmez le mot de passe">
                            <p class="error pt-1 text-right" *ngIf="user.password !== repeat">Password does not match</p>
                            <button [disabled]="!validForm()" class=" pt-2 pb-2 pl-3 pr-3 mt-3 ">Register</button>
                        </form>
                        <div class="col-12 text-center text-md-right mt-md-5 -md-5 skip">
                            <a routerLink="/home" class="col-12 p-0 m-0 ">
                                <p>passer</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>