<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top p-0 m-0">
    <a class="col-6 navbar-brand" routerLink="/home">R.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" data-target="#main-menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
        <ul class="navbar-nav ml-auto pr-lg-5 text-center">
            <li class="nav-item">
                <a class="nav-link">Favoris</a>
            </li>
            <li class="nav-item dropdown ml-lg-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compte
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/" *ngIf="!user">connectez-vous</a>
                    <a class="dropdown-item" (click)="logout()" *ngIf="user">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>