.navbar {
    z-index: 1;
    font-family: 'Vollkorn', serif;
    background-color: transparent;
    filter: background-color blur(10px);
}

.nav-item {
    font-size: 1.3em;
}

ul li a {
    color: #0c3a2f;
}

.navbar-brand {
    font-size: 3em;
    color: #0c3a2f;
    text-align: right;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(14, 66, 0, 0.93)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: none;
}