<app-nav></app-nav>

<div class="container-fluid d-flex flex-column flex-lg-row justify-content-center align-items-start mt-5 pt-5">
    <div class="categories col-12 col-lg-2 d-flex flex-column flex-md-row flex-lg-column align-items-center justify-content-center">
        <h2 class="mt-5">Categories</h2>
        <ul class="d-flex flex-column flex-md-row flex-lg-column mt-md-5 mt-lg-0">
            <a (click)="category = 'cuisine'">
                <li class="mr-md-3">Cuisine</li>
            </a>
            <a (click)="category = 'bureau'">
                <li class="mr-md-3">Bureau</li>
            </a>
            <a (click)="category = 'cuisine'">
                <li>Cuisine</li>
            </a>
        </ul>
    </div>
    <div class="col-12 col-lg-8 products mt-md-5">
        <ul *ngIf="products" class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
            <li class="col-12 col-md-2 " *ngFor="let product of products | searchCat:category">
                <div class="product">
                    <a href="{{product}}"><img class="img-fluid " src="{{product.altImgPath}} " alt="sustainable product" ></a>
                    <h3>{{product.name}}</h3>
                </div>
            </li>
        </ul>
    </div>
</div>



<app-footer></app-footer>