@media only screen and (min-width: 1078px) {
    h3 {
        font-size: 1em;
    }
    
  
}

@media only screen and (min-width: 767px) {
    .categories {
        padding-top: 20px;
    }
    .products h3 {
        font-size: 0.8em;
    }
    .products img{
        width: 250px;
    }
}

@media only screen and (max-width: 378px) {
    .categories h2 {
        justify-content: center;
    }
    .products {
        padding-top: 20px;
    }
    .products h2 {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        padding-top: 30px;
        font-size: 1.4em;
        font-weight: bold;
    }
    .products h3 {
        font-size: 1em;
    }
    ul li {
        padding-top: 30px;
    }
}

h2 {
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    font-size: 1.4em;
}

ul li {
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}