<app-nav></app-nav>
<div class="row justify-content-center align-items-center p-0 m-0 banner">
    <img src="assets/images/replace2.jpg" alt="green_office_banner" class=" p-0 m-0">
    <div class="col-10 col-md-8 col-lg-3 searchTools p-0 m-0">
        <form (ngSubmit)="searchByName()">
            <input class="col-12 text-center" (keyup)="filterProduct(searchText)" [(ngModel)]="searchText" autocomplete="off" type="text" name="search" placeholder="Chercher une alternative à ...">
            <div class="col-11 results" *ngIf="searchText">
                <ul *ngFor="let product of products">
                    <a class="name text-left" (click)="searchText=product.name">
                        <li>{{product.name}}</li>
                    </a>
                </ul>
            </div>
        </form>
        <a routerLink="/categories" class="categories mt-2 text-center">Rechercher par catégories</a>
    </div>
</div>

<div class="col-12 d-flex flex-column flex-lg-row articles justify-content-center align-items-center p-0 m-0">
    <a routerLink="/testimonies" class="d-flex flex-row flex-lg-column pl-lg-5 ml-lg-5 pb-lg-5 mb-lg-5 mt-3 mt-lg-0">
        <img class="col-4 col-md-6 col-lg-6 h-100" src="assets/images/article1.jpg " alt="img_article_1 ">
        <h2 class="col-8 col-md-6 col-lg-12 pt-1 d-flex align-items-center">Green Body Shop,<br> vers un managment éco-responsable </h2>
    </a>
    <a routerLink="/testimonies" class="d-flex flex-row flex-lg-column pt-lg-5 mt-lg-5 mt-3 mt-lg-0">
        <img class="col-4 col-md-6 col-lg-6 h-100" src="assets/images/article2.jpg " alt="img_article_2 ">
        <h2 class="col-8 col-md-6 pt-1 d-flex align-items-center">Elena Naele,<br> 5 outils pour mettre en place le zéro-déchet en entreprise</h2>
    </a>
</div>
<div class="col-12 col-lg-6 articles d-flex justify-content-center align-items-center mb-lg-5 pl-0 ml-0 pl-lg-5 ml-lg-5">
    <a routerLink="/testimonies" class="d-flex flex-row flex-lg-column mt-3 mt-lg-0">
        <img class="col-4 col-md-6 col-lg-10 h-100 w-100" src="assets/images/article3.jpg " alt="img_article_3 ">
        <h2 class="col-8 col-md-6 pt-1 d-flex align-items-center">Matériel de bureau,<br> investir pour moins jeter</h2>
    </a>
  
</div>

<app-footer></app-footer>