@media only screen and (min-width: 769px) {
    .article1 {
        padding-left: 150px;
    }
    .articles h2 {
        font-size: 1em;
    }
    .banner img {
        width: 100vw;
        text-decoration: none;
    }
    
}

@media only screen and (max-width: 768px) {
    .banner {
        overflow: hidden;
    }
    .banner img {
        height: 70vh;
        width: auto;
    }
    .articles h2 {
        font-size: 1em;
    }
    /* .articles {
        overflow: hidden;
    }
    .articles img {
        height: 40vh;
        width: auto;
    } */
}

@media only screen and (max-width: 375px) {
    footer {
        position: fixed;
    }
}

h1 {
    color: white;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif;
}

.results {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    color: #9c9c9c;
    font-weight: normal;
    overflow-y: auto;
}

.results ul li {
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}

.results ul li:hover {
    color: rgb(66, 66, 66);
}

.articles h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.articles {
    width: 100vw;
}

.searchTools {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.searchTools .categories {
    border: 1px solid #242424;
    border-radius: 50px;
    padding: 8px 8px;
    background-color: #242424;
    color: white;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 10px 5px 5px rgba(76, 76, 80, 0.267);
}

.searchTools input {
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 8px;
    background-color: rgba(255, 255, 255, 0.616);
    color: #242424;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    box-shadow: 10px 5px 5px rgba(76, 76, 80, 0.267);
}